{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/main.css'%}">
    <title>Django Curso</title>
</head>
<body>
    <nav>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="{% url 'projects' %}">Proyectos</a>
        </li>
        <li>
            <a href="{% url 'create_project' %}">Crear un nuevo Proyecto</a>
        </li>
        <li>
            <a href="{% url 'tasks' %}">Tareas</a>
        </li>
        <li>
            <a href="{% url 'about' %}">Acerca de</a>
        </li>
        <li>
            <a href="{% url 'create_task' %}">Crear una nueva tarea</a>
        </li>
        <li>
            <a href="/admin">Panel administrador</a>
        </li>
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html>