{% extends './layouts/base.html'%}
{% load static%}
{% block content %}
<h1>Pagina de Inicio Principal</h1>
<img src="{% static '/images/django.png'%}" alt="My image" width="120px">
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit repellendus deserunt fugiat corrupti molestias sed ipsam, quibusdam nam eveniet nesciunt accusamus dolores sunt sint. Laboriosam iusto placeat voluptates dicta exercitationem nesciunt corporis assumenda voluptatibus veritatis alias obcaecati sint et voluptatem itaque quam quibusdam expedita modi ad necessitatibus minus eos velit numquam, distinctio vitae. Minima tempore reiciendis asperiores eum modi! Architecto ullam hic distinctio officiis, fugit libero ducimus non aspernatur est debitis iure excepturi reiciendis repellat! Ad corporis quidem, ea iste enim quisquam ducimus, fugit provident amet nostrum aperiam atque.
</p>

{% endblock %}